---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Greeting } from "../components/preact/Greeting.jsx";
const pageTitle = "Página de inicio";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Mi impresionante subtítulo del blog</h2>
	<Greeting messages={["Hej", "Hallo", "Hola", "Habari"]} client:load />
</BaseLayout>
